.side-tab:hover {
  padding: 10px 15px;
  background-color: #2980b9;
}

.side-menu {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100vh;
  background: linear-gradient(135deg, #ffe8e5, #ffd3d1);
  color: white;
  padding: 1rem;
  box-shadow: -3px 0 5px rgba(0, 0, 0, 0.3);
  transition: right 0.3s ease;
  z-index: 1002;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

/* Menü açılınca sağa kaydır */
.side-menu.open {
  right: 0;
}

/* Kapatma butonu */
.close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  align-self: flex-end;
  cursor: pointer;
  margin-bottom: 1rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.side-menu ul {
  list-style: none;
  padding: 0;
}

.side-menu ul li {
  margin-bottom: 1rem;
  cursor: pointer;
}

.task-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.3rem;
  font-family: "Poppins", sans-serif;
  padding: 0.6rem 1rem;
  border-radius: 14px;
  background-color: #ffffff;
  color: #aaa;
  font-size: 0.8rem;
  font-weight: 300;
  transition: all 0.3s ease;
}

.task-list.completed .task-text {
  text-decoration: line-through;
  color: #aaa;
}

.checkbox-icon {
  cursor: pointer;
  font-size: 1rem;
  color: #ffd3d1;
}

.task-text {
  flex: 1;
  cursor: pointer;
}

.edit-input {
  flex: 1;
  font-size: 0.95rem;
  padding: 0.3rem 0.5rem;
}
.edit-trigger {
  cursor: pointer;
  color: white;
  font-size: 1.2rem;
  text-align: end;
}

.delete-icon {
  cursor: pointer;
  color: #aaa;
  font-size: 0.6rem;
}

.new-task {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
}

input {
  padding: 1rem;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
  transition: all 0.3s ease;
}
.music-box {
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  border: solid white;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
img {
  width: 5rem;
  height: 5rem;
  box-shadow: 20px;
  border-radius: 5px;
}
.side-section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.play-btn {
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 4px solid white;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
