@import url("https://fonts.googleapis.com/css2?family=Poppins:...&display=swap");

body {
  padding-left: 10px;
  padding-right: 10px;
  background: linear-gradient(135deg, #ffe8e5, #ffd3d1);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
body.default-theme {
  padding-left: 10px;
  padding-right: 10px;
  background: linear-gradient(135deg, #ffe8e5, #ffd3d1);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

body.red-theme {
  background: radial-gradient(
    circle,
    rgba(130, 0, 0, 1) 0%,
    rgba(171, 22, 22, 1) 74%,
    rgba(0, 0, 0, 1) 100%
  );
}

body.ocean-theme {
  background: linear-gradient(to right, #1cb5e0, #000046);
}

body.forest-theme {
  background: linear-gradient(to right, #237a57, #093028);
}

body.beauty-theme {
  background: linear-gradient(to right, #ffaf7b, #d76d77, #3a1c71);
}

.timer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.timer-container {
  display: flex;
  justify-items: center;
  align-items: center;

  gap: 20px;
}

.timer-time {
  font-family: "Poppins", sans-serif;
  font-size: 10rem;
  font-weight: 800;
  color: white;
}
.timer-side {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}

.mode {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-size: 25px;
  padding: 0px;
  margin: 0px;
  color: white;
}
.task {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: white;
}

svg {
  width: 40px;
  height: 40px;
}
.circle {
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 4px solid white;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.circle:hover {
}

.break-btn {
  padding: 0.75rem 2rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  margin: 0.5rem;
  border: none;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}

.break-btn:hover {
  font-size: large;
}

.mode-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.cycle-tracker {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.tracker-dot {
  width: 10px;
  height: 10px;
  border: 2px solid white;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 0.3s ease;
}
.tracker-dot.filled {
  background-color: white;
}

.theme-selector {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 2px;
  top: 50px;
}

.theme-btn {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.theme-btn.selected {
  border: 3px solid white;
  border-radius: 50%;
  padding: 5px;
  box-shadow: 0 0 8px white;
}
